@import url("https://font.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

nav.topbar {
  background-color: #2a2185;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  width: 100%;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.toggle {
  margin-left: 200px;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

aside.navigation {
  background-color: #2a2185;
  color: white;
  width: 200px;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  position: fixed;
  transition: width 0.3s;
  top: 0;
}

.navigation.collapsed {
  width: 70px;
}

.navigation li .icon {
  margin-right: 10px;
}

.navigation li .title {
  display: inline-block;
  transition: opacity 0.3s ease;
}

.navigation.collapsed .title {
  display: none;
}

.navigation.collapsed ~ .main {
  margin-left: 70px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
}

.navigation ul li {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.userDropdown,
.subjectDropdown,
.departmentDropdown,
.classesDropdown {
  display: none;
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.instructorDropdown ul li,
.studentDropdown ul li,
.departmentDropdown ul li {
  margin-bottom: 5px;
}

.instructorDropdown ul li a,
.studentDropdown ul li a,
.departmentDropdown ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
}

.instructorDropdown ul li a span,
.studentDropdown ul li a span,
.departmentDropdown ul li a span {
  margin-left: 10px;
}

#instructor,
#student,
#department,
#classes,
#subject,
#users {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 20px;
  margin-left: 200px;
  transition: margin-left 0.3s;
}
.container {
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-btn {
  background-color: transparent;

  border: none;
  cursor: pointer;
}

.dropdown-btn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.success-message {
  color: green;
  font-weight: bold;
  padding: 10px;
  border: 1px solid green;
  background-color: #eafaf1;
}

.error-message {
  color: red;
  font-weight: bold;
  padding: 10px;
  border: 1px solid red;
  background-color: #fce4e4;
}

.Addmodal {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black with opacity */
}

.Addmodal-dialog {
  position: relative;
  margin: 15% auto;
  max-width: 800px;
}

.Addmodal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.Addmodal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.Addmodal-title {
  font-size: 1.25rem;
  margin: 0;
}

.close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.Addmodal-body {
  padding-top: 20px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-blue {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: #0056b3;
}

.btn1 {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn1:hover {
  background-color: #0056b3;
}

/* General Modal Styling */
.modal,
.Addmodal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content,
.Addmodal-content {
  background-color: #fff;
  margin: 15% auto;
  margin-block: 0%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  overflow: auto;
  height: 80vh;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal Close Button */
.close,
.closeAddModal {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.closeAddModal:hover,
.closeAddModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Header Styling */
h2,
.Addmodal-header h5 {
  margin: 0 0 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Form Styling */
.form-group-ins,
.form-group {
  margin-bottom: 15px;
}

.form-group-ins label,
.form-group label {
  font-weight: 600;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

/* Button Styling */

.btn-ins,
.btn.btn-blue {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.btn-ins:hover,
.btn.btn-blue:hover {
  background-color: #0056b3;
}

/* Modal Body */
.Addmodal-body {
  padding: 20px;
}

.Addmodal-header {
  background-color: #f8f9fa;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Adjust for Addmodal header */
.Addmodal-title {
  font-size: 18px;
  margin: 0;
}

/* Spacing between fields */
.form-group-ins input,
.form-group input {
  margin-bottom: 10px;
}

/* Styling for the form in Addmodal */
#addStudentForm .form-control {
  margin-bottom: 15px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .modal-content,
  .Addmodal-content {
    width: 90%;
  }
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
}

/* Table Styling */
table.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Table Header Styling */
table.table thead {
  background-color: rgb(42, 33, 133);
  color: white;
  font-size: 16px;
  text-align: left;
}

table.table th {
  padding: 12px 15px;
  border: 1px solid black;
}

/* Table Body Styling */
table.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  border: 1px solid black;
}

table.table td {
  border: 1px solid black;

  padding: 12px 15px;
  font-size: 14px;
}
table.table tr {
  border: 1px solid black;
}
/* Action Buttons Styling */
button.btn {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin: 3px;
}

/* Success Button */
button.btn-success {
  background-color: #28a745;
  color: white;
}

button.btn-success:hover {
  background-color: #218838;
}

/* Danger Button */
button.btn-danger {
  background-color: #dc3545;
  color: white;
}

button.btn-danger:hover {
  background-color: #c82333;
}

/* Edit Button */
button.btn-success.edit-btn {
  background-color: #007bff;
  color: white;
}

button.btn-success.edit-btn:hover {
  background-color: #0056b3;
}

/* Archive and Restore Buttons */
button.archive-btn {
  background-color: red;
  color: white;
}

button.archive-btn:hover {
  background-color: #e0a800;
}
